* {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #303846;
} 
body {
	margin: 0;
}
.header {
	padding-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	border-bottom: 1px solid;
	background-color: #fff;
}
.header--fixed {
	position: fixed;
	top: 0;
	left: 0;
}
.header__inner {
	width: 100%;
	padding: 5px 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	display: flex;
	align-items: center;
}
.logo__img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.logo__name {
	font-weight: bold;
}
.menu__list {
	display: flex;
	padding: 0;
}
.menu__list-item {
	list-style-type: none;
	margin-right: 10px;
}
.menu__list-item:last-child {
	margin-right: 0;
}
.menu__link {
	text-decoration: none;
	font-weight: bold;
}
.content {
	padding: 60px 0;
	display: flex;
	justify-content: center;
	background: url('../images/banner.png') no-repeat center center;
	background-size: cover;
}
.content__logo {
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1000px;
	padding: 60px 0;
}
.content__title {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 3em;
	color: #fff;
}
.content__subtitle {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 1.4em;
	color: #fff;
}
.content__link {
	padding: 15px 10px;
	border: 1px solid;
	border-radius: 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
}


